---
import Layout from '../layouts/Layout.astro';
import CanvasEditor from '../components/editor/core/CanvasEditor';
---

<Layout>

    <main>
        <h1>Creador de blogs</h1>

        <CanvasEditor client:load/>
        
    </main>

</Layout>